  
  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="footer__block">
        <div class="footer__icon-wrap">
          <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiT_tSR846FAxWosoMHHdvyAY4YABAAGgJlZg&ase=2&gclid=Cj0KCQjwwYSwBhDcARIsAOyL0fiPp_sGDpYb58iyaKf2SlmT1U0OQhSu3WLUyoh37iYrPXOCefwZwnAaAu2sEALw_wcB&ohost=www.google.com&cid=CAESVuD2hZ7xkSC0GedJHgkvVN8tDH470JIkM-Iy9PH3a9KCXvn828WRcPrhuw3z_x_nFNzGRwDFnVf1kcRRJy-5hgs3Z01OJbqPXKt2TFH05oQ3j9flD467&sig=AOD64_3EltpLvsm3-T3X_aCcHKA-lg2Ylg&q&nis=4&adurl&ved=2ahUKEwjsps-R846FAxUinf0HHdPIDDgQ0Qx6BAgJEAE">
            <img src="assets/images/icons/facebook.png" alt="icon">
          </a>
          <a href="https://www.instagram.com/">
            <img src="assets/images/icons/insta.png" alt="icon">
          </a>
          <a href="https://twitter.com/?lang=ru">
            <img src="assets/images/icons/X.png" alt="icon">
          </a>
          <a href="https://m.vk.com/">
            <img src="assets/images/icons/vk.png" alt="icon">
          </a>
        </div>
        <div class="footer__menu-wrap">
          <nav class="footer__navigation">
            <ul class="footer__list">
              <li class="footer__item"><a href="#">О компании</a></li>
              <li class="footer__item"><a href="#">Новости</a></li>
              <li class="footer__item"><a href="#">Помощь</a></li>
              <li class="footer__item"><a href="#">Контакты</a></li>
            </ul>
          </nav>
          <span class="footer__span">© 2020 Продажа квартир</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Request popup -->
  <div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="request">
    <div class="mfp__title">Оставьте заявку</div>
    <div class="mfp__desc">менеджер свяжется с Вами в течение 3 часов</div>

    <form class="mfp__form">
      <div class="input-wrap">
        <input type="text" name="name" data-name="Имя" placeholder="Имя" />
      </div>
      <div class="input-wrap">
        <input type="tel" name="phone" data-name="Телефон" placeholder="Телефон" required="required" />
      </div>
      <div class="input-wrap">
        <input type="email" name="email" data-name="Почта" placeholder="Почта" />
      </div>
      <button class="btn">Send</button>

      <div class="form-result">
        <div class="mess">
          <div class="mess__title">Success!</div>
          <div class="mess__desc">We will contact with you soon</div>
        </div>
      </div>
    </form>
  </div>

  <!-- Success popup-->
  <div class="mfp mfp--succes-popup zoom-anim-dialog mfp-hide" id="success">
    <div class="form-result form-result--success">
      <div class="mess">
        <div class="mess__title">Success!</div>
        <div class="mess__desc">We will contact with you soon</div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>