<header class="header">
  <div class="container">
    <div class="header__block">
      <div class="header__logo-wrap">
        <h5 class="header__logo"><a class="header__logo-link" href="#">Продажа квартир</a></h5>
      </div>
      <div class="header__menu-wrap">
        <nav class="header__nav">
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="#">О компании</a></li>
          </ul>
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="#">Новости</a></li>
          </ul>
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="#">Помощь</a></li>
          </ul>
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="#">Отзывы</a></li>
          </ul>
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="#">Контакты</a></li>
          </ul>
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <h5 class="header__menu-sale">Служба продаж</h5>
              <span class="header__menu-number">+7 495 123-45-67</span>
            </li>
          </ul>
          <ul class="header__menu-list">
            <button class="header__menu-btn btn btn--primary">Заказать звонок</button>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
