<header class="header">
  <div class="container">
    <div class="header__block">
      <div class="header__logo-wrap">
        <a class="header__logo" href="#">Продажа квартир</a>
      </div>
      <div class="header__menu-wrap">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item"><a href="#">О компании</a></li>
            <li class="header__item"><a href="#">Новости</a></li>
            <li class="header__item"><a href="#">Помощь</a></li>
            <li class="header__item"><a href="#">Отзывы</a></li>
            <li class="header__item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__number-wrap">
        <span class="header__sales-service">Cлужба продаж</span>
        <span class="header__number">+7 495 123-45-67</span>
      </div>
      <div class="header__btn-wrap">
        <button class="header__btn btn btn--medium">Заказать звонок</button>
      </div>
    </div>
  </div>
</header>
