.btn
	position: relative
	display: inline-block
	color: $c0
	text-align: center
	background-color: $c3
	border: none
	outline: none
	transition: all .3s ease
	user-select: none
  border-radius: 6px
	&:focus:not(.disabled),
	&:hover:not(.disabled)
		outline: none
		cursor: pointer
		background-color: lighten($c1, 10%)
	&:active:not(.disabled)
		background-color: darken($c1, 5%)
	&.disabled
		opacity: .4
  &--primary
    color: $c0  
    border-radius: 6px


  &--secondary
    color: $c6
    font-size: 15px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0%
    text-align: center  
    border-radius: 4px
    background-color: $c3
    padding: 10px 16px
